<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <div *ngFor="let post of posts, let i = index">

  <mat-expansion-panel  *ngIf="i >= currentPage * postsPerPage && i < (currentPage+1) * postsPerPage">

      <mat-expansion-panel-header>
        <p>{{ post.title }}</p>
      </mat-expansion-panel-header>
        <p>{{ post.content }}</p>
      <mat-action-row>
        <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
        <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      </mat-action-row>

  </mat-expansion-panel>
</div>
</mat-accordion>
<mat-paginator
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageIndex]="currentPage"
  [pageSizeOptions]="[1,2,5,10]"
  (page)="onChangedPage($event)">
</mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
